python-docx
fastapi
uvicorn
httpx
python-dotenv
torch
torchvision
transformers
datasets
peft
accelerate
sentencepiece
opencv-python
easyocr
spacy
python-multipart
pytesseract
paddleocr
paddlepaddle
ultralytics
PyYAML
matplotlib
numpy
rouge-score