<h1>Liste des Candidatures</h1>
<a href="{% url 'ajouter_candidature' %}">➕ Nouvelle Candidature</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Candidat</th>
        <th>Statut</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    {% for c in candidatures %}
    <tr>
        <td>{{ c.id_candidature }}</td>
        <td>{{ c.id_candidat.username }}</td>
        <td>{{ c.statut }}</td>
        <td>{{ c.date_candidature }}</td>
        <td>
            <a href="{% url 'details_candidature' c.id_candidature %}">👁</a>
            <a href="{% url 'modifier_candidature' c.id_candidature %}">✏️</a>
            <a href="{% url 'supprimer_candidature' c.id_candidature %}">🗑️</a>
        </td>
    </tr>
    {% endfor %}
</table>
